1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [2]:
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [3]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the numbers from 1 to n.

In [4]:
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    print(i)

Enter a number: 10
1
2
3
4
5
6
7
8
9
10

5. Write a program that prompts the user to enter a number n, and then prints all the odd numbers between 1 and n.

In [5]:
n = int(input("Enter a number: "))
for i in range(1, n + 1, 2):
    print(i)

Enter a number: 10
1
3
5
7
9

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [6]:
for _ in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

7. Write a program that takes a number n as input from the user and generates the first n terms of the series formed by squaring the natural numbers.

In [7]:
n = int(input("Enter a number: "))
print("The first", n, "terms of the series are:")
for i in range(1, n + 1):
    print(i**2, end=" ")
print()

Enter a number: 5
The first 5 terms of the series are:
1 4 9 16 25

8. Write a program that prompts the user to input a number and prints its multiplication table.

In [8]:
n = int(input("Enter a number: "))
print("Multiplication table for", n)
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 2
Multiplication table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

9. Write a Python program to print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4.

In [9]:
a = 3
d = 4
for i in range(8):
    term = a + i * d
    print(term, end=" ")
print()

3 7 11 15 19 23 27 31

10. Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.

In [10]:
a = 2
r = 3
for i in range(6):
    term = a * (r**i)
    print(term, end=" ")
print()

2 6 18 54 162 486

11. Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered.

In [11]:
n = int(input("Enter a positive integer: "))
total_sum = 0
for i in range(1, n + 1):
    total_sum += i
print("The sum of integers from 1 to", n, "is:", total_sum)

Enter a positive integer: 10
The sum of integers from 1 to 10 is: 55

12. write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The program should display the final sum.

In [12]:
N = int(input("Enter a positive integer: "))
reciprocal_sum = 0
for i in range(1, N + 1):
    reciprocal_sum += 1 / i
print("The sum of reciprocals from 1 to", N, "is:", round(reciprocal_sum, 2))

Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

13. Write a program that prompts the user to enter a number and repeats this process 5 times. The program should accumulate the numbers entered and then display the final running total.

In [13]:
total = 0
for _ in range(5):
    num = int(input("Enter a number: "))
    total += num
print("The final running total is:", total)

Enter a number: 10
Enter a number: 15
Enter a number: 20
Enter a number: 35
Enter a number: 40
The final running total is: 120

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.
The program should display the factorial value if the input is a positive number, or
display a message stating that the factorial does not exist for negative numbers.
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [14]:
n = int(input("Enter a positive integer: "))
if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print("The factorial of", n, "is:", factorial)

Enter a positive integer: 5
The factorial of 5 is: 120

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents.

In [15]:
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))

result = 1
if exponent >= 0:
    for _ in range(exponent):
        result *= base
else:
    for _ in range(-exponent):
        result /= base

print(base, "raised to the power of", exponent, "is:", result)

Enter the base number: 2
Enter the exponent: 4
2.0 raised to the power of 4 is: 16.0